
.body{
    background-color: rgb(221, 195, 195);
    padding: 100px 1px;
    
}
.claculator{
    text-align: center;
    margin: 10px 100px;
}

.row{
    padding: 10px;
    margin: 0 10px;
}

.btn {
    color: black;
    text-align: center;
    padding: 9px;
    margin: 6px;
}
.input{
    padding: 11px 1px;
    margin: 5px 10px;
}